// Here are some examples of importing other files:
//
//     @import "my-file.less";
//     @import (reference) "my-variables.less";
//     @import (inline) "some-node-module/dist/style.css";
//
// For more info, see http://lesscss.org/features/#import-options

body {
  color: #53565a;
  background-color: #78d4f7;
}

.nav {
  position: fixed;
  background-color: #c18d3d;
  list-style: none;
  width: 100vw;
  height: 3.4rem;
  top: 0rem;
  left: 0rem;
  .monogram {
    height: 3.4rem;
    float: left;
  }
  a {
    color: #53565a;
    text-decoration: none;
    font-family: "Garamond", serif;
    margin: 1rem;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    float: right;
    &:hover{
      color: #009ccf;
    }
  }
}
